venv/
.env
__pycache__/
*.pyc
.streamlit/
*.log
#uploaded resumes
uploaded_resumes/

check_models.py
test.py
test_chunker.py
test_loader.py
test_rag.py
test_retriever.py
test_vectorstore.py
work.py
image.png







